{
    "printWidth": 150,
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.json",
            "options": {
                "printWidth": 150,
                "tabWidth": 2
            }
        }
    ],
    "plugins": ["prettier-plugin-organize-attributes"],
    "attributeGroups": [
        "$ANGULAR_ELEMENT_REF",
        "$ANGULAR_STRUCTURAL_DIRECTIVE",
        "$ANGULAR_OUTPUT",
        "$ANGULAR_TWO_WAY_BINDING",
        "$ANGULAR_INPUT",
        "$DEFAULT"
    ],
    "attributeSort": "ASC"
}
